{% extends "dalec/default/item.html" %}
{% block item_content %}

<tr>
    <td class="gitlab event title">
        <a href="{{object.content_data.author.web_url}}">
            <img alt="{{object.content_data.author.name}}'s avatar"
                 src="{{object.content_data.author.avatar_url}}?width=32"
                 data-container="body"
                 class="avatar s32 d-none d-sm-inline-block has-tooltip"
                 title="{{object.content_data.author.name}}">
        </a>
        <span class="author-name">
            <a title="{{object.content_data.author.name}}" href="{{object.content_data.author.web_url}}">
                {{object.content_data.author.name}}
            </a>
        </span>
        &nbsp;<span class="username">@{{object.content_data.author.username}}</span>


        {% if object.content_data.action_name == "pushed to" %}
        <ul class="content-list event-commits">
            <li class="commit">
                <div class="commit-row-title">
                    <a class="commit-sha"
                       alt=""
                       title="{{object.content_data.push_data.commit_from|slice:8}}"
                       href="{{object.content_data.project.web_url}}/-/commit/{{object.content_data.push_data.commit_from}}">
                        {{object.content_data.push_data.commit_from|slice:8}}
                    </a>
                    ·
                    {{object.content_data.push_data.commit_title}}
                </div>
            </li>
            {% if object.content_data.push_data.commit_count > 1 %}
            <li class="commits-stat">
                <span>... and {{object.content.push_data.commit_count|add:-1}} more commits.</span>
                <a
                    href="{{object.content_data.project.web_url}}/-/compare/{{object.content_data.push_data.commit_from}}...{{object.content_data.push_data.commit_to}}"><span>Compare</span>
                    <span class="commit-sha">
                        {{object.content_data.push_data.commit_from|slice:8}}...{{object.content_data.push_data.commit_to|slice:8}}
                    </span>
                </a>
            </li>
            {% endif %}

        </ul>
        {% elif object.content_data.action_name == "created" %}
            {# TODO #}
        {% endif %}
    </td> <!--- end Title -->

    <td class="gitlab event project">
        <a title="{{object.content_data.project.name_with_namespace}}"
           href="{{object.content_data.project.web_url}}">
            <span class="namespace-name">{{object.content_data.project.name}}</span>
        </a>
    </td>

    <td class="gitlab event type">

        {% if object.content_data.action_name|slice:6 == "pushed" %}
            <span class="event-type d-inline-block gl-mr-2 pushed">
                {{object.content_data.action_name}} branch
            </span>

            <span class="gl-mr-2 text-truncate">
                <a class="ref-name" href="{{object.content_data.project.web_url}}/-/commits/{{object.content_data.push_data.ref}}">
                    {{object.content_data.push_data.ref}}
                </a>
            </span>

        {% elif object.content_data.action_name == "created" %}
            <span class="event-type d-inline-block gl-mr-2 created">
                created project
            </span>

        {% elif object.content_data.action_name == "opened" %}
            <span class="event-type d-inline-block gl-mr-2 opened">
                opened
            </span>
            <span class="event-target-type gl-mr-2">issue</span>
            <a class="has-tooltip event-target-link gl-mr-2"
               title="{{object.content_data.target_title}}"
               href="{{object.content_data.project.proproject_url}}/-/issues/{{object.content_data.target_iid}}">
                #{{object.content_data.target_iid}}
            </a>
            <span class="event-target-title gl-text-overflow-ellipsis gl-overflow-hidden gl-mr-2" dir="auto">
                "{{object.content_data.target_title}}"
            </span>

        {% endif %}
    </td> <!--- end type -->

    <td class="gitlab event date">
        <time class="js-timeago"
              title="{{object.content_data.creation_dt}}"
              datetime="{{object.content_data.creation_dt}}"
              data-toggle="tooltip"
              data-placement="top"
              data-container="body">
            {{object.creation_dt|timesince}}
        </time>
    </td>

    <td class="gitlab event action">
        <button id="btnFadetoggle"
                class="btn btn-primary"
                type="button"
                onclick="$('.api-full').fadeToggle();"
                >
                Voir tout le retour de l'API
        </button>
        <pre class="api-full" style="display: none;"> {{ object.content_data|pprint }} </pre>
    </td>
</tr>
{% endblock %}
