{% extends "dalec/default/list.html" %}
{% load i18n %}
{% block dalec_list_items %}
    <table>
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Project" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                {% include item_template %}
            {% endfor %}
        </tbody>
    </table>
{% endblock dalec_list_items %}
