{% extends "dalec/default/item.html" %}
{% block item_content %}
    <h2>{{ object.content_data.title }} <code>{{object.content_data.references.full}}</code></h2>
    <p>
    Status : {{ object.content_data.state }}
    {{ object.content_data.state }}, créée par {{ object.content_data.author.name }}
    à {{ object.creation_dt }}.
    </p>
    <label>Liens</label>
    <ul>
        <li><a href="{{object.content_data.web_ur}}"> vers l'issue</a></li>
    </ul>

    <div>
        <button id="btnFadetoggle" class="btn btn-primary" type="button"
                onclick="$('.api-full').fadeToggle();"
            >
            Voir tout le retour de l'API
        </button>
        <pre class="api-full" style="display: none;"> {{ object.content_data|pprint }} </pre>
    </div>
{% endblock %}
