{% extends "dalec/default/item.html" %}
{% load dalec %}

{% block item_content %}
<div>
    <a href="{{object.content_data.web_url}}">
        <code>{{object.content_data.references.full}}</code>
    </a>
</div>
Status : {{ object.content_data.state }}, créée par
<span class="author-name">
    <a title="{{object.content_data.author.name}}" href="{{object.content_data.author.web_url}}">
        {{object.content_data.author.name}}
    </a>
</span>
il y a {{ object.creation_dt|timesince }}.

Dernière mise à jour il y a {{object.content_data.updated_at|api_date|timesince}}.


<div>
    <button id="btnFadetoggle"
            class="btn btn-primary"
            type="button"
            onclick="$('.api-full').fadeToggle();"
            >
            Voir tout le retour de l'API
    </button>
    <pre class="api-full" style="display: none;"> {{ object.content_data|pprint }} </pre>
</div>
<hr>
{% endblock %}
