{% block dalec_list_header %}
{% endblock dalec_list_header %}

{% block dalec_list_body %}
    <div class="dalec-list"
         id="dalec-{{ id }}"
         data-url="{{ url }}"
         data-app="{{ app }}" data-content-type="{{ content_type}}"
         {% if channel %}
            data-channel="{{ channel }}"
            data-channel-object="{{ channel_object }}"
        {% endif %}
    >
    <table>
        <tr>
        <th>Titre</th>
        <th>Projet</th>
        <th>Assigné⋅e</th>
        <th>Créée le</th>
        <th>Action</th>
        </tr>
        {% for object in object_list %}
            {% include item_template %}
        {% endfor %}
    </table>
    </div>
    {% if ajax_refresh %}
    <script type="text/javascript">
        window.addEventListener("load", (event) => {
            dalec_fetch_content(document.getElementById('dalec-{{ id }}'));
        });
    </script>
    {% endif %}
{% endblock dalec_list_body %}

{% block dalec_list_footer %}
{% endblock dalec_list_footer %}
